* {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

/*

  NAV

*/

.nav__wrapper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  padding: 12px;
  width: 100px;
}

.nav__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 16px;
}

.nav__list--link {
  cursor: pointer;
}

/*

  FOOTER

*/

footer {
  position: absolute;
  bottom: 0;
  background-color: red;
}